.about
  background-color: $bdg
  color: $white


  h3
    span
      color: $blb

.about__part
  width: calc(100% / 3)
  padding: 1rem
  p
    font-size: 1rem
    font-weight: 400
    line-height: 2rem
    letter-spacing: 0.4px
    opacity: 0.7
    padding: 1rem 0 3rem

.socials
  a
    display: inline-block
    width: 26px
    height: 26px
    text-decoration: none
    color: $white
    background: $bb
    font-size: 1rem
    line-height: 24px
    text-align: center
    padding: 4px
    transition: all 0.3s

    &:hover,
    &:focus  
      background: $bo
      transition: all 0.3s

.about__part
  .tweet
    opacity: 0.7
    cursor: pointer
    padding-bottom: 0
    transition: all 0.3s

    &:hover,
    &:focus
      opacity: 1
      transition: all 0.3s

      .tweet-user
        color: $bo

  .tweet-user
    color: $bb

  .tweet-data
    color: $bb
    margin-left: 20px

.blog-preview
  display: flex
  align-items: center
  padding: 1rem 0 0 0
  transition: all 0.3s
  cursor: pointer
    
  p
    padding: 0 0 0 1rem
    

  img
    width: 70px
    height: 70px
    flex-shrink: 0  

  &:hover,
  &:focus
    color: $bo
    opacity: 1
    transition: all 0.3s