.city
  height: 400px
  flex-direction: column
  justify-content: center
  align-items: center
  background: linear-gradient(to top, #212121 0%, rgba(33, 33, 33, 0.6) 52%, rgba(33, 33, 33, 0.6) 100%), url("../img/city_BG.min.jpg")
  background-size: cover

  p
    width: 926px
    text-align: center
    color: $white
    font-size: 1.5rem
    font-weight: 400
    line-height: 2.625rem
    letter-spacing: 0.6px
    padding-bottom: 4rem
