.contact
  height: 400px
  padding: 0
  position: relative

.map
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1 

.contact__card
  width: 260px
  height: 240px
  background-color: $white
  opacity: 0.8
  position: absolute
  top: 100px
  left: 120px
  padding: 20px

.contact__string
  font-size: 1rem
  font-weight: 400
  line-height: 3rem

  i 
    margin-right: 10px



 