.customers
  height: 400px
  flex-direction: column
  justify-content: center
  align-items: center
  background: linear-gradient(to top, rgba(33, 33, 33, 0.9) 0%, rgba(33, 33, 33, 0.7) 100%), url("../img/customers_BG.min.jpg")
  background-size: cover
  color: $white

  p.description
      padding: 2rem 0

.customers__container
  width: 100%
  display: flex
  justify-content: center

  img
    margin: 0 30px
