.features
  flex-direction: row
  flex-wrap: wrap
  padding: 0
  background-color: $white
      
.features-card
  width: 25%  
  color: $bmg
  padding: 2%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center 

  &:nth-child(odd)
    background-color: $bllb

  &:nth-child(even)
    background-color: $bllbc

  h3
    color: $bdg
  p
    font-size: 1rem
    font-weight: 400
    line-height: 2rem
    text-align: justify
    margin: 10px 0

  a
    margin: 20px 0
    font-size: 0.875rem
    font-weight: 700
    line-height: 0.875rem
    letter-spacing: 1.4px
    text-decoration: none
    color: $bb
    text-transform: uppercase
    transition: all 0.3s


    &:hover,
    &:focus
      color: $bo
      transition: all 0.3s

    i
      margin-left: 10px

.features-card__i
  width: 70px
  height: 70px
  background-color: $bb
  font-size: 36px
  line-height: 70px
  color: $white
  text-align: center
  margin-bottom: 30px

