.footer
  justify-content: space-between
  align-items: center
  background-color: $bdg
  color: $bmg

.bottom-nav
  height: 36px
  display: flex
  list-style: none
    
  li
    margin: 0 8px

  a
    text-decoration: none
    color: $white
    font-size: 0.875rem
    line-height: 36px
    text-transform: uppercase
    opacity: 0.7
    transition: all 0.3s

  a:hover,
  a:focus,
  a.active
    opacity: 1
    color: $bo
    border-bottom: 2px solid $bb
    transition: all 0.3s  