.header
  width: 100%
  display: flex
  justify-content: space-between

.logo
  width: 136px
  height: 36px
  display: flex
  justify-content: space-around
  align-items: center

.logo__i
  width: 36px
  height: 36px
  background-color: $bb
  color: $white 
  font-size: 26px
  display: flex
  justify-content: center
  align-items: center

.logo__text
  background-color: hsla(0, 0%, 0%, 0)
  font-size: 30px
  font-weight: 400
  line-height: 36px
  color: $white

.top-nav
  height: 36px
  display: flex
  list-style: none
    
  li
    margin: 0 8px

  a
    text-decoration: none
    color: $white
    font-size: 0.875rem
    line-height: 36px
    text-transform: uppercase
    opacity: 0.7
    transition: all 0.3s

  a:hover,
  a:focus,
  a.active
    opacity: 1
    border-bottom: 2px solid $bb
    transition: all 0.3s
      

