.news
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $white

  h2
    padding: 2rem 0  

  .description
    width: 770px
    font-style: 1rem
    font-weight: 400
    line-height: 2rem
    letter-spacing: 0.4px
    color: $bdg
    opacity: 0.7
    padding-bottom: 3rem


.news__container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.news__card
  width: 25%
  display: flex
  flex-direction: column
  align-items: center
  padding: 1.5rem
  cursor: pointer

  img
    width: 100%

  &:hover
    .news__text
      color: $bo

  &:nth-child(odd)
    background-color: $bllbc

  &:nth-child(even)
    background-color: $bllb
  

.news__data
  margin: 1rem 0
  text-transform: uppercase
  font-size: 1rem
  font-weight: 700
  color: $bmlg

.news__text
  text-transform: uppercase
  text-align: justify
  font-size: 0.8rem
  letter-spacing: 1px
  color: $bb  




  