.portfolio
  background-color: $white
  padding: 4% 0
  flex-direction: column;
  align-items: center
  justify-content: space-between

  h2
    color: $bdg
    padding-bottom: 3rem

.portfolio__description
  width: 770px
  font-size: 1rem
  font-weight: 400
  line-height: 2rem
  letter-spacing: 0.5px
  color: $bdg
  opacity: 0.7
  text-align: center

.filter-labels
  list-style: none
  display: flex
  padding: 2rem 0
  
  a
    font-size: 0.875rem
    font-weight: 700
    line-height: 1.5rem
    text-decoration: none
    letter-spacing: 0.7px
    color: $bb
    text-transform: uppercase
    padding: 0 15px
    margin: 0 5px
    transition: all 0.3s

    &:hover,
    &:focus
      color: $bo
      border-bottom: 2px solid $bb
      transition: all 0.3s

  a.selected
    color: $bdg
    border-bottom: 2px solid $bb 

.portfolio__container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-bottom: 2rem

.portfolio__card,
.portfolio__extra-card
  width: 25%

.portfolio__extra-card
  display: flex
  flex-wrap: wrap

.portfolio__card--little
  width: 50%

.portfolio__card--wide
  width: 100%

.portfolio__card,
.portfolio__card--little,
.portfolio__card--wide
  position: relative
  cursor: pointer

  &::after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    background-color: #000
    opacity: 0.8
    transition: all 0.3s

  img
    width: 100%
    height: 100%
    
.portfolio__card:hover,
.portfolio__card:focus,
.portfolio__card--little:hover,
.portfolio__card--little:focus,
.portfolio__card--wide:hover,
.portfolio__card--wide:focus

  &::after
    content: ''
    opacity: 0.5
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.3s

.portfolio__more
  font-size: 0.875rem
  font-weight: 700
  line-height: 1.5rem
  text-decoration: none
  letter-spacing: 0.7px
  color: $bb
  text-transform: uppercase
  padding: 0 15px
  transition: all 0.3s

  &:hover,
  &:focus
    color: $bo
    border-bottom: 2px solid $bb
    transition: all 0.3s  