.quotes
  background-color: $white
  flex-direction: column
  align-items: center
  justify-content: space-between

  p.description
    width: 770px
    padding: 2rem 0

.quotes__container
  display: flex
  flex-wrap: wrap 
  justify-content: space-between   

.quotes__card
  width: 25%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background-color: $bllb 
  padding: 2rem
  color: $bmg 

  i
    width: 60px
    height: 60px
    font-size: 2.5rem
    line-height: 60px
    text-align: center
    color: $bb

  p
    text-align: center
    margin: 2rem 0 
     
.quotes__user
  display: flex
  align-items: center

  img
    width: 70px
    height: 70px

  .name  
    padding: 0 0 0 15px
    text-align: left
    font-size: 1.1rem
    font-weight: 700   

  .company
    font-size: 0.8rem
    font-weight: 400
    

