.records
  background-color: $bo
  display: flex
  justify-content: space-between

.records__card
  width: 21%
  height: 60px
  display: flex
  align-items: center
  font-size: 2.5rem
  font-weight: 700
  line-height: 1.5rem
  color: $white
  padding: 4rem 0 4rem 0

  p
    margin-left: 20px

  span
    font-size: 1rem
    font-weight: 400
    line-height: 1.2rem
    text-transform: uppercase

  i
    width: 60px
    height: 60px
    background-color: $white
    color: $bo
    font-size: 2.5rem
    line-height: 60px
    text-align: center