.skills
  background-color: $white
  flex-direction: column
  align-items: center

  p.description
    width: 770px
    padding: 2rem 0

.skills__container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

.skill__card
  width: 45%
  display: flex
  flex-wrap: wrap
  color: $bdg
  padding: 1rem 0

  h4
    width: 80%
    text-align: left 
  
.skills__value
  width: 20%
  text-align: right
  font-size: 1.125rem
  font-weight: 400
  line-height: 2rem

.skills__progress-bar
  width: 100%
  height: 20px
  background-color: $blb
  position: relative

.skills__line
  position: absolute
  top: 0
  left: 0
  height: 20px
  background-color: $bb  

.ph
  width: 97%

.wd
  width: 93%

.il
  width: 91%

.wp
  width: 98%

.br
  width: 95%

.pt
  width: 96%  