.start-btn
  width: 170px
  height: 50px
  background-color: $bb
  font-size: 0.875rem
  font-weight: 700
  color: $white
  letter-spacing: 1.4px
  text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid $bb
  opacity: 0.7
  transition: all 0.3s
  cursor: pointer

  &:hover,
  &:focus  
    opacity: 1
    transform: scale(1.3)
    transition: all ease 0.3s  


