.team
  padding: 4rem 0 
  background-color: $bllb
  flex-direction: column
  align-items: center
  justify-content: space-between

  p.description
    width: 770px
    font-size: 1rem
    font-weight: 400
    line-height: 2rem
    color: $bdg
    opacity: 0.7
    padding: 2rem 0

.team-container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.team__card
  width: 20%
  text-align: center

.team__name
  font-size: 1rem
  font-weight: 700
  text-transform: uppercase
  margin: 2rem auto 1rem

.team__position
  opacity: 0.7  

.team__portrait
  width: 100%
  position: relative
  cursor: pointer

  img
    width: 100%

  .cover
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 0%
    background: $bdg
    opacity: 0
    font-size: 1rem
    font-weight: 400
    line-height: 1.2rem
    color: $white
    text-align: justify
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center 
    overflow: hidden
    padding: 0 15%
    transition: all ease 0.5s
    

    a
      display: inline-block
      width: 26px
      height: 26px
      text-decoration: none
      color: $white
      background: $bb
      font-size: 1rem
      line-height: 24px
      text-align: center
      padding: 4px
      transition: all 0.3s

      &:hover,
      &:focus  
        background: $bo
        transition: all 0.3s  
  
  &:hover,
  &:focus
    .cover
      height: 100%
      padding: 15%
      opacity: 0.8
      transition: all ease 0.5s