.top
  height: 800px
  background: linear-gradient(to top, #212121 0%, rgba(33, 33, 33, 0.6) 52%, rgba(33, 33, 33, 0.6) 100%), url(../img/header_BG-min.jpg)
  flex-direction: column
  align-items: center
  justify-content: space-between
  color: $white

.slogan
  font-size: 2.625rem
  font-weight: 700
  letter-spacing: 4.2px
  text-transform: uppercase

.description
  width: 940px
  font-size: 1.125rem
  font-weight: 400
  line-height: 2.25rem
  letter-spacing: 0.45px
  text-align: center
  opacity: 0.6

.slider-controls
  width: 70px
  height: 10px
  display: flex
  flex-direction: row
  justify-content: space-between

.slide-link
  width: 10px
  height: 10px
  cursor: pointer

  &:nth-child(even)
    background-color: $bmlg

  &:nth-child(odd)
    background-color: $bo

  &:first-child
    background-color: $bb

  &:last-child
    background-color: $blg  
