@import url('https://fonts.googleapis.com/css?family=Hind:400,600')

@import "normalise"

$black: #000    // black color
$white: #fff    // white color
$bb: #03a9f4    // brand blue color
$bo: #ff9800    // brand orange color
$blb: #b3e5fc   // brand light blue color
$bllb: #f0fafe  // brand light light blue color
$bllbc: #f7fcff // brand light light blue for cards background
$bdg: #212121   // brand gark grey color
$bmg: #727272   // brand middle grey color
$bmlg: #b6b6b6  // brand middle light grey color
$blg: #fefefe   // brand light grey color

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: 'Hind', sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 20px
  background-color: $bmlg
  display: flex
  flex-direction: column
  align-items: center

h1
  font-size: 1.5rem
  font-weight: 400
  line-height: 1.5rem
  letter-spacing: 2.4px
  text-transform: uppercase

h2
  font-size: 2.25rem
  font-weight: 700
  line-height: 2.5rem
  letter-spacing: 3.6px
  text-transform: uppercase

h3
  font-size: 1.125rem
  font-weight: 700
  line-height: 2.875rem
  letter-spacing: 1.8px
  text-transform: uppercase  

h4
  font-size: 1.125rem
  font-weight: 400
  line-height: 2rem
  letter-spacing: 1.8px
  text-transform: uppercase

.bold
  font-weight: 700 

.top,
.features,
.portfolio,
.city,
.news,
.team,
.skills,
.records,
.quotes,
.customers,
.about,
.contact,
.footer
  width: 100%
  max-width: 1600px
  min-width: 1200px
  padding: 2.5% 5%
  display: flex

@import "top"
@import "header"
@import "start-btn"
@import "features"
@import "portfolio"
@import "city"
@import "news"
@import "team"
@import "skills"
@import "records"
@import "quotes"
@import "customers"
@import "about"
@import "contact"
@import "footer"
@import "animations"
